/*Emilia Krichevsky #1941891 stylings for assignment 3*/

 html {
    
    background-image: url("../images/ron_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
}

header{
    clear: both;
    margin: auto;
    height: 20%;
    padding-top: 15px;
}

h2{
    animation: movefont 5s infinite;
    margin: auto;
    font-size: large;
    text-align: center;
    font-family: Stencil Std, fantasy;
    font-size: 50px;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.397);
}

@keyframes movefont{
    from {color: #860c0c;}
    to {color:  #7f008b;}
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
}

div {
    padding-top: 10%;
    margin-left: 30%;
    margin-right: 30%;    
}

section{
    width: 60%;
    clear: both;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 32.5%;
    justify-content: space-between;
    
}
p#err{
    color: rgb(185, 34, 34);
    font-family: Stencil Std, fantasy;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

p#quote{
    font-family: Stencil Std, fantasy;
    text-align: center;
    font-size: 25px;
    animation: cute 5s infinite;
}

@keyframes cute{
    from {color: #4b1010 ;}
    to {color: #460d2c;}
}

button#getbtn{ 
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    height: 3em;
    text-decoration:none;
    font-family: Stencil Std, fantasy;
    font-weight:300;
    font-size: 20px;
    color:#181111;
    text-shadow: 0 0.04em 0.04em rgba(73, 70, 70, 0.397);
    text-align:center;
    transition: all 0.2s;
    animation: move 5s infinite;
    margin: auto;
    margin-top: 20%;
     
}

@keyframes move{
    from {background-color: #860c0c;}
    to {background-color: #7f008b;}
}

footer{
    height: 2.5rem;
    width: 100%;
    clear: both;
    position: absolute;
    bottom: 0;
    margin: auto;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    padding-left: 2em;
}

a:hover{
    color: darkred;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(20, 1, 1);
}